{% extends 'core/base.html' %}
{% block title%}Cargar documentos{% endblock %}

{% block content %}
            <div class="container">
                <div style="text-align: center; padding-top: 10px;">
                    <h1 class="display-4">Suba el documento</h1>
                            {% block replace %}
                    <p class="lead">Comparta el conocimiento</p>
                </div>
                    <form method="POST" enctype="multipart/form-data">
                        <!-- Very Important csrf Token -->
                        {% csrf_token %}
                        <div style="text-align:justify; padding-top: 10px;">
                            <table>
                                {{ form.as_table }}
                            </table>
                            <input type="submit" class="btn btn-primary btn-lg" name="register" value="Subir el documento">
                        </div>
                
            </div>
        {% endblock %}
{% endblock %}
