{% extends 'core/base.html' %}
{% block content %}
<CENTER>
<div class="container">
  <h1 class="display-4">Documento listo!<br></h1>
  <a href="{% url 'doc:documents' %}" class="btn btn-outline-primary btn-lg" role="button">Volver a los documentos</a>
</div>
</CENTER>
{% endblock %}