{% extends 'core/base.html' %}
{% block title%}Lista documentos{% endblock %}

{% block content %}

{% if user.is_authenticated %}


<div class="container">
    <div style="text-align: center; padding-top: 10px;">
        <h1>Listado de documentos</h1>
        <p>Todos los documentos se encuentran aca</p>
    </div>
    <div style="text-align: center;">
        <a href="{% url 'doc:create' %}" class="btn btn-outline-primary btn-lg " role="button">Crear documento</a>
    </div>
    <div>
        {% for document in documents reversed %}
            <!--<p>Nombre= {{document.name}}</p>
            <p>Descripción = {{document.content}}</p>
            <p>Documento = <a href="{{document.display_picture.url}}">{{document.display_picture}}</a></p>
            <hr>-->

            <br>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Documento</th>
                    <th scope="col">Fecha modificación</th>
                    <th scope="col">Operación</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>{{document.name}}</td>
                    <td>{{document.content}}</td>
                    <!--<td><a href="{{document.display_picture.url}}">{{document.display_picture}}</a></td>-->
                    <td><a href="{{document.display_picture.url}}" download="{{document.name}}" class="badge badge-primary">Descarga</a></td>

                    <td>{{document.updated}}</td>
                    <td><a href="{% url 'doc:delete' document.id %}" class="badge badge-danger">Borrar</a></td>
                  </tr>
                </tbody>

              </table>
              

        {% endfor %}

    </div>
</div>

{% else %}
<p>Para ver el contenido primero debe logearse <a href="{% url 'login' %}">acá</a></p>
{% endif %}

{% endblock %}

