{% extends 'core/base.html' %}
{% block title%}Documentos encontrados{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Resultados de la busqueda</h1>

{% if object_list %}
<ul>
  {% for doc in object_list %}
    <li>
      {{ doc.name }}, {{ doc.content }}, <a href="{{doc.display_picture.url}}">{{ doc.display_picture }}</a>
    </li>
  {% endfor %}
</ul>
{% else %}
<p>Sin resultados</p>
{% endif %}

{% else %}
<p>Para ver el contenido primero debe logearse <a href="{% url 'login' %}">acá</a></p>
{% endif %}
{% endblock %}
