{% extends 'core/base.html' %}
{% block title%}Cargar documentos{% endblock %}

{% block content %}
<main role="main">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-9 mx-auto">
        <div>
            <form action="" method="post">{% csrf_token %}
                <p>¿Estás seguro de que quieres borrar el documento  de nombre <b>"{{ object.name }}"</b>?</p>
                <input type="submit" class="btn btn-primary btn-block" value="Sí, borrar el documento" />
            </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}