<!DOCTYPE html>

<html lang="es">
    <head>
        <!--<meta charset="UTF-8">-->

        <style type="text/css">

        
        </style>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">

        <title>{% block title %}{% endblock %}</title>

        {# Cargamos la librería #}
        {% load bootstrap4 %}

        {# CSS Bootstrap #}
        {% bootstrap_css %}
        
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-dark ">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand text-white" href="{% url 'home' %}">Repositorio</a>
          
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
              <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                  <a class="nav-link text-white" href="{% url 'login' %}">Ingresar<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link text-white" href="{% url 'logout' %}">Salir</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link text-white" href="{% url 'doc:list_document' %}">Documentos</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0" action="{% url 'doc:search' %}" method="get">
                <input class="form-control mr-sm-2" type="search" placeholder="Buscar" aria-label="Search" name="q">
                <button class="btn btn-outline-success my-2 my-sm-0 text-white" type="submit">Buscar</button>
              </form>
            </div>
        </nav>

        {% if user.is_authenticated %}
          <p>Bienvenido {{ user.username }}!!.</p>
        {% else %}
          <p>Usuario no autenticado, ingrese <a href="{% url 'login' %}">acá</a></p>
        {% endif %}

        {% block content %}{% endblock %}
        
            <script lang="javascript" type="text/javascript">
        
        
            </script>




            {% bootstrap_javascript jquery='full' %}

    </body>





</html>