{% extends 'core/base.html' %}
{%block title %} Inicio {% endblock %}

{% block content %}
    <div class="container">
        <div style="text-align: center;  vertical-align:middle; padding-top: 200px;">
            <h1>Repositorios de documentos</h1>
            <p class="lead">Ya sabes, almacenar y compartir ...</p>
        </div>
    </div>
{% endblock %}
