{% extends 'core/base.html' %}
{% block title %} Ingresar {% endblock %}

{% block content %}
<div class="container">
    <div style="text-align: center; padding-top: 10px;">
        <h1>Ingrese al repositorio</h1>
    </div>
</div>
{% endblock%}
