{% extends 'core/base.html' %}
{% block content %}
{% csrf_token %}
<h2>Área para miembros</h2>

<p>
    Bienvenido <b>{{request.user.username}}</b>, 
    esta página es exclusiva para usuarios registrados.
</p>

<hr />
<a href="{% url 'logout' %}">Cerrar sesión</a>
{% endblock %}