{% extends 'core/base.html' %}

{% block title%}Ingrese{% endblock %}

{% block content %}
<h2>Iniciar sesión</h2>

<form method="POST">
    {{ form.as_p }}
    {% csrf_token %}
    <button type="submit">Login</button>
</form>

<hr />
<!--<a href="/register">Registrar usuario</a>-->
<a href="{% url 'register' %}">Registrar usuario</a>


{% endblock %}
